@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css';

body {
    font-family: "Segoe UI";
}

.hidden {
    display: none;
}

.file > .fa {
    cursor: pointer;
    width: 20px;
    padding: 0 6px 0 0;

    &.fa-angle-down {
        padding: 0 3px 0 0;
        width: auto;
        transition: transform .1s;
        vertical-align: 1px;

        .collapsed & {
            transform: rotate(-90deg);
            vertical-align: 2px;
        }
    }

    &.fa-folder-open {
        color: #d2a032;
        
        .collapsed &:before {
            content: "\f07b"; /* fa-folder */
        }
    }

    &.fa-code {
        color: #519aba;
    }

    &.fa-coffee {
        color: #cc3e44;
    }
}

.low, 
.medium, 
.high,
.cline-no {
  background: transparent; /* background: #FCE1E5; */
}

.coverage-summary {
    td,
    th {
        padding: 2px;
    }

    td {
        border-right: 1px solid #ddd;
        border-left: 1px solid #ddd;
        &.pct, 
        &.abs {
            padding-right: 5px;
            font-size: 13px;
        }
    }

    tr {
        border-bottom: 1px solid #eee;
    }

    .sorter {
        float: right;
        margin-top: 4px;
        height: 12px;
    }
}

.chart {
    border-radius: 2px;
    overflow: hidden;
}
