@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css';

body {
    font-family: "Segoe UI";
}

.file > .fa {
    cursor: pointer;
    width: 20px;
    padding: 0 6px 0 0;

    &.fa-angle-down {
        padding: 0 3px 0 0;
        width: auto;
    }

    &.fa-folder,
    &.fa-folder-open {
        color: #d2a032;
    }

    &.fa-code {
        color: #519aba;
    }

    &.fa-coffee {
        color: #cc3e44;
    }
}

.low, .medium, .high,
.cline-no {
  background: transparent; /* background: #FCE1E5; */
}

.coverage-summary td,
.coverage-summary th {
    padding: 2px;
}

.coverage-summary td {
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.coverage-summary tr {
    border-bottom: 1px solid #eee;
}

.chart {
    border-radius: 2px;
    overflow: hidden;
}